.body{overflow: hidden;width:100%;text-align: center;}
.body #drag{width:100%;padding:50px 10px;position:relative;height:1000px;}
.body #drag .three{width:33.3%;text-align: center;float:left;}
.body #drag .three h3{margin-top:0.8em;margin-bottom:0.4em;font-size: 3em;line-height:1.8em;}
.body #drag .three p{width:80%;line-height: 1.8em;font-size:1.2em;margin:0 auto;margin-bottom:50px;}

.body #path{position:relative;width:1300px;height:700px;background:url(../images/bg2.jpg) no-repeat;margin:0 auto;}
.body #path #div1{width:500px;height:500px; border-radius:50%; position:absolute;left:10%;top:10%;}
.body #path img{width:235px;height:235px;border-radius:50%; position:absolute;left:0;top:0;margin-left: -118px;margin-top:-118px;}
.body #path #div2{width:500px;height:500px; border-radius:50%; position:absolute;right:10%;top:10%;}